 ul,
 p,
 h1,
 h2,
 h3,
 li {
     list-style: none;
     padding: 0;
     margin: 0;
 }

a{
    text-decoration: none;
}

.container {
    outline: solid 3px red;  

    width: 1440px;
    margin-left: auto;
    margin-right: auto;

}
/* хедер */
.container.header{
   display:flex;
   justify-content: center;
   background-color: #012D63;
}

.container.header::before{
    content: '';
    background-image: url(/images/Nike.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 60px;
    margin-top: 16px;
    margin-bottom: 17px;
}

.nav-list{
    display: flex;
    padding-top: 30px;
    padding-bottom: 33px;
}

.nav-items{
    padding-right: 29px;
}

.nav-items:nth-child(1){
    padding-left: 152px;
}

.nav-items:nth-child(5){
    padding-right: 20px;
}

.nav-link{
    color: #C7C7C7;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
}

.language-list{
    display: flex;
    padding-top: 30px;
    padding-bottom: 33px;
}

.language-items{
    padding-left: 5px;
}

.language-items:nth-child(1){
    padding-left: 73px;
}

.language-button{
    color: #DCDCDC;
    border: none;
    background: none;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
}

.nav-link:hover,
.nav-link:focus,
.language-button:hover,
.language-button:focus {
    color: #FFFFFF;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
}

/* hero */
.section.hero{
    background-image: url(./images/hero/Group\ 37\ \(1\)\ 1.png);
    background-size: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
}

.hero-items{
    padding-left: 164px;
}

 .hero-items:nth-child(1){
    padding-left: 195px;
} 

.hero-items:nth-child(2){
    padding-left: 156px;
}

.hero-items:nth-child(4){
    width: 508px;
}

.hero-title{
    padding-top: 179px; 
    font-family: 'PT Serif';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 64px;

}

.hero-secondtitle{
    font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size: 144px;
        line-height: 192px;
}

.hero-text{
    font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size: 72px;
        line-height: 96px;

}

.hero-boldtext{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
}

.hero-button{
    margin-bottom: 183px; 
    margin-top: 41px; 

    border: none;
    background-color: #8E32C6;
    color: #FFFFFF;
    padding: 20px 61px 19px 61px;

    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
}